* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
}


body {
  font-family: 'Asap', sans-serif;
  background: #eee;
  min-height: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.space-bottom {
  margin-bottom: 15px;
}
.space-right {
  margin-right: 10px;
}
.space-left {
  margin-left: 10px;
}
.space-top {
  margin-top: 15px;
}

.padding-top {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .full-height {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.action-bar {
  background: #dddddd;
  margin: 15px -15px ;
  padding: 4px 15px;
}

.quill {
  height: 300px;
  border: 1px solid #ddd;
  padding-top: 64px;
  position: relative;
  background: #fff;

  .quill-toolbar {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 5px #ddd;
  }
}

.panel {
  margin-bottom: 0;
}

.half-height {
  height: 50%;
}

.margin-half-height {
  margin-bottom: 3%;
}

.relative {
  position: relative;
}

label.small-label {
  position: absolute;
  left: 0;
  top: 0;
  background: #aaa;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  z-index: 999;
  font-weight: bold;
}

.full-codemirror {
  padding: 20px 0 0 0;
  .ReactCodeMirror {
    height: 100%;
    .CodeMirror {
      height: 100%;
    }
  }
}

pre {
  box-shadow: none !important;
}

.exercises-list {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  padding-top: 50px;
  border-right: 1px solid #eee;

  button {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .exercise-entry {
    padding: 5px;
    border-top: 1px solid #ddd;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;

    &.active, &.active:hover {
      background: #56B2F3;
      color: #fff;
    }

    &:hover {
      background: #eee;
      text-decoration: none;
    }

    .number {
      width: 20px;
      margin-right: 5px;
      text-align: right;
      display: inline-block;
    }
  }
}

.pt-active {
  background: #56B2F3;
  color: #fff;
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 8px 10px ;
  display: block;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 10px 10px;
  margin: 0 5px;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
}

.flexbox-parent
{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

  background: rgba(255, 255, 255, .1);
}

.flexbox-item-grow
{
  flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area
{
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

}