.boxes-list {
  .box {
    height: 80px;
    line-height: 80px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    padding: 0 20px;

    h3 {
      line-height: 80px;
      margin: 0;
      padding: 0;
    }

    .edit {
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -18px;
    }
  }
}